@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-transition {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-transition:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-transition.gradient {
    background-image: linear-gradient(to right, #FFC80D, #FFB30D, #FF9900, #FF7B00, #FF640D );
}

.btn-readmore {
  background: none;
  border: none;
  text-align: center;
  outline: none;
}
.btn-readmore:active {
  border-style: none
}
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
color: inherit;
text-decoration: inherit;
}

.bi-list {
  border-style: none;
  font-size: 2rem;
  background-color: none;
}

.dropdown-btn:active {
  border-style: none;
  background: inherit;
}

.btn-transition-sm {
    width: 135px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-transition-sm:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-transition-sm:focus {
    outline: none;
}

.btn-transition-sm.gradient {
    background-image: linear-gradient(to right, #3EEDE2, #40D2F7, #4699E1, #4072F7, #3E3FED );
}

.background-accent {
background-image: linear-gradient(to bottom, #3EEDE2, #40D2F7, #4699E1, #4072F7, #3E3FED );
  width: 20%; height: 100%;
  position: fixed; top:0px; left:0px; right: 0px;
  z-Index: -1;
}

.background-accent-2 {
background-image: linear-gradient(to bottom, #3EEDE2, #40D2F7, #4699E1, #4072F7, #3E3FED );
  width: 20%; height: 100%;
  position: fixed; top:0px; right: -0px;
  z-Index: -1;
}

.logo {
  border: none;
  background: white;
}

.logo-text {
  font-family: 'Concert One', cursive;
  font-size: 4vh;
  background-image: linear-gradient(to top, #F75F3B, #F6A043);
  background-clip: text;
  color:transparent
}

.bg-custom {
  background-color: rgba(218, 218, 218, 0.26);
  background-position: center;
  background-size: cover;
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
}
